
div {
  background-color:grey;
}
h5{
 background-color:pink;
  font-size:25px;
  font-family:Helvetica, sans-serif;
}
h6{
 background-color:violet;
  font-family:Geneva;
  font-size:22px;
}
   
                                       
  



